[submodule "azure-aks-helm-terraform-cross-namespace-ingress-with-custom-domain"]
	path = azure-aks-helm-terraform-cross-namespace-ingress-with-custom-domain
	url = git@github.com:jon-grey/azure-aks-helm-terraform-cross-namespace-ingress-with-custom-domain.git
